@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,200&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Merriweather", serif;
  }
  
main {
    flex-grow: 1;
}

.centrarTitulo{
    margin: 20px;
    text-align: center;
}

.centrarTitulo-cons{
    margin: 20px;
    text-align: center;
    color: rgb(151, 86, 211);
    font-size: 100px;
}

#hr-ayuda{
    margin: 20px;
    height: 5px;
    background-color: #0080ff;    
    border-radius: 10px;
}

ul{
    list-style-position: inside;
    margin: 30px;
    color: #0080FF;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: #0080FF ;
    font-size: 50px;
}

a{
    color: rgb(81, 7, 128);
}

.card{
    padding: 5px;
    margin: 50px;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);;
}

.separarLista{
    margin-bottom: 20px;
}

.central{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 2rem;
}

.video-tamanio{
    width: 1020px;
    height: 600px;
}

.imagen-tamanio{
    width: 700px;
    height: 600px;
}

.pieDePaginaConstruccion {
    text-align: center;
    background: hsl(0, 0%, 3%);
    color: white;
    padding: 10px;
  }

@media all and (max-width: 576px){
    .video-celu{
        height: 400px;
    }

    .tamanio-celu{
        width: 100%;
        height: 100%;
    }
}

@media all and (min-width: 577px) and (max-width: 992px){
    .tamanio-celu-med{
        width: 100%;
        height: 100%;
    }
}