@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,200&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
   
    background-color: white;

    
}


header{
    
    width: 100%;
    height: 10vh;

}
.div-logo img{
    width:9rem;
    height:7rem;
}

.content-nav {
 
    display: flex;
    justify-content: space-between;
}

.bar-btn {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
    
}

.nav-menu{
    position: fixed;
    width: 30%;
    height: 0vh;
    top: 30px;
    background: #85e25ae6;
    /* background: #051d3b; */
    text-align: center;
    transition: all .5s;
    border-radius: 10px;

}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 5px 0;
    transition: all .5s;
}
.nav-menu li a{
    color: #0080ff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 100;
    
}
/* .nav-menu li a.active,  */
.nav-menu li a:hover{
    color:rgb(10, 133, 24);
    transition: .4s;
    font-weight: bold;
    
}

#check {
    display: none;
}
#check:checked ~ .nav-menu {
    height: 30vh;
      
}

#check:checked ~ .nav-menu li{
    display: block;
}

/* Seccion de ventana modal............. */

.boton-modal label{
    color: #0080ff;
    font-size: 1.5rem;
    cursor: pointer;
}
.boton-modal label:hover{
    color: rgb(10, 133, 24);
    transition: .3s;
}
#btn-modal{
    display: none;
}
.container-modal{
    width: 40rem;
    height: 40vh;
    margin-top: 2rem;
    background-color: rgba(17, 151, 218, 2);
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0.9rem;
    position: relative; z-index: 1;
}

#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{

    display: flex;
    flex-direction: column;
    width: 35rem;
    /* max-width: 400px; */
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 1.4rem;
    box-shadow: 0rem 3rem 2rem rgb(0, 0, 0, 0.50);
}
.div-areas{
    display: flex;
    flex-wrap: wrap;
    
}
#hr-area{
    width: 20px;
    height: 7px;
    background-color: #188410;
    margin-top: 25px;
    border-radius: 10px;

    
}
.content-modal h1{
    margin-bottom: 15px;
}
.content-modal a{
    padding: 15px 0px;
    
}
.container-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.container-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #7d0ae9;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.container-modal .btn-cerrar label:hover{
    background-color: #188410;
    
}
/* seccion de inicio de sesion ........... */
.sesion{
    display: flex;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.sesion a{
    color: black;
}
.sesion .sesion-p1{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    
}
.sesion .sesion-p2{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
.sesion img {
    margin-left: 2rem;
}


.navegacion{
    display: flex;
    /* margin: auto; */
    /* background-color: yellow; */
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    /* position: sticky;
    top: 0; */

}

ul, ol{
    list-style: none;
}
.lista{
    /* display: block; */
    justify-content: space-around;
    align-items: center;
    
    
}
.lista li{
    padding: 0.6rem 0.2rem;
} 
.lista li a{
    /* background-color: #0080ff; */
    background-color: #81a5dddc;
    color: black;
    text-decoration: none;
    padding: 0.3rem 1.5rem;
    width: 30rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
    /* border: #0080ff solid 1px; */
}
/* .lista li a:hover{
    /* background-color: rgb(10, 133, 24); */
    /* border: rgb(10, 133, 24) solid 3px; */
/* } */
.lista > li{
    float: left;
}
.lista li ul{
    display: none;
    position: absolute;
    min-width: 1rem;
    
    
}
.lista li ul li{
    right: -1rem;
}

.lista li:hover > ul{
    display: block;
}
.lista li ul li{
    position: relative;
}
.lista li ul li ul li{
    right: -6rem;
    top: 0px;
}

.active{
    border: rgb(10, 133, 24) solid 3px;
}


/* seccion de contenido de la pagina */



.contenido{
    display: grid;
    gap: 2.5rem;
    grid-template-columns: auto auto auto auto;
    /* border: #81a5dddc solid 2.8px; */
    /* background-color: rgb(32,32,44); */
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    /* position: sticky;
    top: 0; */
    /* margin-top: 68px; */
    /* ocultando */
   
    
    
}


.contenido a{
    /* color: #ff8c2a; */
    color: rgb(17, 0, 128);
}
.contenido p{
    color: black;
    font-size: 1rem;
}
.contenido h4{
    
    color: #9cd33b;
}
.secciones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    width: 23rem;
    border-radius: 1rem;
    color: white;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0 1rem 0;
    font-size: 2rem;
    transition: box-shadow 0.25s ease-in-out;
    box-shadow: 0px 0px 0 #051d3b;
    border: #0080ff solid 2.8px;
}

.secciones:hover{
    box-shadow: 12px 12px 0  rgb(10, 133, 24);
    translate: 0 0 3rem;
    transform: translate(20px);
    transition: 1s;
}

.secciones .img-seccion{
    width: 10rem;
    height: 8rem;
    border-radius: 25px;
}
.secciones button{
    background-color: #7d0ae9;
    width: 6rem;
    height: 1.6rem;
    border-radius: 0.7rem;
}
.secciones a{
    color: white;
}

#hr-linea{
    height: 5px;
    background-color: #0080ff;    
    border-radius: 10px;
}

iframe{
    width: 100%;
    height: 20rem;
}

/* seccion de pie de pagina o footer */
.pieDePagina {
    text-align: center;
    background: hsl(0, 0%, 3%);
    color: white;
    padding: 17px;
    /* width: 50rem; */
    /* position: absolute; */
    width: 100%;
    
    
  }

/* only */
@media  screen and (max-width: 540px){
    
    .contenido{
        display: grid;
        gap: 0.2rem;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        /* flex-wrap: wrap; */
        width: 3rem;
        margin: 0.6rem 0 0.8rem 0;

    }
    
    .logo{
        width: 50px;
        height: 20px;
    }
    .div-logo img{
        width:5rem;
        height:6rem;
    }
    .sesion a{
        font-size: 0.7rem;
    }
   .container-modal{
     width: 15rem;
     height: 23rem;
   }
   .content-modal{
    width: 13rem;
    height: 18rem;
    font-size: 0.8rem;
    padding: 5px;
    
   }
  
   .content-modal a{
    font-size: 11pt;
   }
   .content-modal #hr-area{
    width: 11px;
   }
   
}  
@media  screen and (min-width: 542px) and (max-width: 912px){

  
    .contenido{
        display: grid;
        gap: 0.4rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        flex-wrap: wrap;
        width: 3rem;
        margin:1.2rem 0 0.8rem 0;

    }
    
    .logo{
        width: 50px;
        height: 20px;
    }
    .div-logo img{
        width:5rem;
        height:6rem;
    }
    .sesion a{
        font-size: 0.7rem;
    }
   
} 
@media  screen and (min-width: 915px) and (max-width: 1280px){

  
    .contenido{
        display: grid;
        gap: 0.4rem;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        flex-wrap: wrap;
        width: 3rem;
        margin:1.2rem 0 0.8rem 0;

    }
    
    .logo{
        width: 50px;
        height: 20px;
    }
    .div-logo img{
        width:5rem;
        height:6rem;
    }
    .sesion a{
        font-size: 0.7rem;
    }
   
} 

@media screen and (min-width: 1282px){
    .logo{
        margin-left: 50px;
    }
    .content-nav{
        height: 100px;
    }
    .bar-btn{
        display: none;
    }
    .nav-menu{
        position: relative;
        height: 50px;
        top: 10px;
        background: none;
        transition: none;
        text-align: start;
        margin-right: 5px;
        display: flex;
    }
    .nav-menu li{
        
        display: inline-block; 
        margin-left: 1.4rem;
        margin-right: 1.4rem;
        padding: 0.15rem 0.15rem;
        text-align: center;
    
    }
    .nav-menu li a{
        font-size: 0.9rem;
    }
}
