.acomodar{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.btn-ayuda{
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
    border: none;
    background: transparent;
}

button:hover{
    background: black;
    color: white;
}

body.darkmode{
    background-color: rgb(32,32,44);
    color: white;
}

.darkmode button{
    color: white;
}

.darkmode button :hover{
    background-color: white;
    color: black;
}

.darkmode a{
    color: yellowgreen;
}
.darkmode p{
    color: white;
}
.darkmode h2{
    color: green;
}

.darkmode #p-nosotros{
    color: #0080ff;
}

.darkmode #a-login{
    color: white;
}

.darkmode .div-areas a{
    color: blueviolet;
}