
.div-form{
    margin-bottom: 14rem;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2rem;
    width: 38rem;
    
    border: none;
    padding: 2rem 5rem;
    border-radius: 2.5rem;
    font-size: 1.2rem;
    border: #0080ff solid 2.5px;
    box-shadow: 0rem 3rem 2rem rgb(0, 0, 0, 0.50);
    
    
}
form p{
    margin-left: 5rem;
    margin-top: 1rem;
}
form h1{
    margin-left: 5rem;
   
}
label{
    
   color: white;
   font-size: 1.2rem;
   /* margin-left: -13rem; */
   margin-bottom: 0.3rem;
   
}
input{
    
    /* width: 280px; */
    /* background-color: rgb(214, 218, 183); */
    background-color: white;
    margin-bottom: 1.4rem;
    padding: 0.6rem 1.8rem;
    border-radius: 0.9rem;
    outline: none;
    font-size: 1.1rem;
    /* align-content: centers; */
    caret-color: chocolate;
}
.btn-input{
    background-color: rgb(87, 49, 199);
    width: 15rem;
    margin:auto;
}
input:hover{
    background-color: #93a78a;
    border: solid 2px #099b09;
    box-shadow: 0 0 4px #06cb;
    color: black;
}
@media only screen and (max-width: 600px) {
    form {
        width: 18rem;
        padding: 0.5rem 0.3rem;
    }
    label {
        font-size: 1rem;
    }
    input {
        font-size: 0.2;
    }
    .btn-input {
        width: 7rem;
    }
    .div-logo{
        width: 20rem;
    }
    form h1{
        font-size: 1rem;
    }
}